.container {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}
.header {
    background-image: url('../../assets/computer-2982270_960_720.jpg');
    background-size: cover;
    background-position: center center;
    padding: 0%;
    margin: 10% auto;
    text-align: center;
    max-width: 100%;

}
.head {
    width: 600px;
    background: rgba(0,0,0,.5) center center;
    color: whitesmoke;
    text-align: center;
    font-size: 1.2em;
    justify-content: center;
    position: relative;
    margin: 0;
    float: unset;
    display: inline-block;
}
h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 6em;
    padding-top: 2%;
    margin: 0%;
    
}

h3 {
    font-family: 'Cookie', cursive;
    font-size: 2em;
    padding: 0%;
    margin: 0%;
}
p {
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
    padding: 0%;
    margin: 3%;
}
.sentence {
    padding-bottom: 2%;
}