.container {
    background-color: black;
    color: white;
     width: 100%;
     height: 100%;
}
h2 {
    font-family: 'Cookie', cursive;
    font-size: 5em;
    padding: 0%;
    margin: 0%;
    text-align: center;
}
p {
    font-family: 'Arbutus Slab', serif;
    font-size: 2em;
    padding-bottom: 4%;
    margin: 0%;
}
.links {
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
    color: black;
    text-align: center;
}

.responsive-img {
    width: 10em;
    height: 10em;
}