h2 {
    font-family: 'Cookie', cursive;
    font-size: 4em;
    padding: 7%;
    margin: 0%;
    text-align: center;
}
p {
    font-family: 'Arbutus Slab', serif;
    font-size: 1.5em;
    padding: 0%;
    margin: 0%;
}
.links {
    font-family: 'Arbutus Slab', serif;
    font-size: 1.5em;
    color: black;
    text-align: center;
}

.responsive-img {
    width: 10em;
    height: 10em;
}