<div class="footer" id="contact">
  <footer class="page-footer">
    <h2>Contacto</h2>
    <a href="https://github.com/Anavzqz"> <img src="assets/correob.png" class="img" alt="correo"></a>
    <a href="https://github.com/Anavzqz"> <img src="assets/github.png" class="img" alt="github"></a>
    <a href="https://twitter.com/Ana_VazquezL"> <img src="assets/twitter.png" class="img" alt="Twitter"> </a>
    <a href="https://www.linkedin.com/in/anavzqz/"> <img src="assets/linkedin.png" class="img" alt="Linkedin"> </a>
  </footer>
</div> 
      
