<nav class="navbar navbar-toggleable-sm navbar-light sticky-top" style="background-color: #e3f2fd;">
  <button class="navbar-toggle collapsed mr-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="sr-only">Menu</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" routerLink="/header">
    <img src="../../../assets/Ana_Logo.png" width="40" height="40" class="d-inline-block align-top" alt="Ana Vázquez">
  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="nav navbar-nav">
      <li><a class="nav-item nav-link active" routerLink="aboutme">Acerca de mí</a></li>
      <li><a class="nav-item nav-link" routerLink="/proyects">Proyectos</a></li>
      <li><a class="nav-item nav-link" href="#">Conocimientos</a></li>
      <li><a class="nav-item nav-link" href="#">Contacto</a></li>
    </ul>
  </div>
</nav>
