<div class="container">
  <div class="row">
    <h2>Acerca de mí</h2>
    <div class="col-md-6">
      <p>Soy programadora front-end, desarrollo proyectos con Javascript, NodeJS, Bootstrap, Angular, entre otros.
        Me apasiona la mercadotecnia, aprender cosas nuevas y el trabajo en equipo.
        Me gustan los proyectos que representan nuevos retos y que implican nuevos aprendizajes.
      </p>
    </div>
    <div class="col-md-6">
      <img src="../../assets/apple-1868496_960_720.jpg" style="max-width:100%;width:auto;height:auto;">
    </div>
  </div>
</div>
