<section class="aboutme" id="about-me">
  <div class="row">
    <div class="col-12">
    <h2>Acerca de mí</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 offset-2 ">
      <img src="assets/Imagen_Ana_1.png" class="img" alt="Imagen Ana">
    </div>
    <div class="col-lg-5 p1">
      <p> Soy <b> Front-end developer</b>  egresada de la 6ta generación de Laboratoria. <br> 
        Me apasiona la tecnología y la mercadotecnia. Soy curiosa y comprometida con mi aprendizaje. <br> Trabajo con metodología ágil y me gusta el
        trabajo en equipo, además de los proyectos que me representen nuevos retos, lo que implica más aprendizaje.
      </p>
    </div>
  </div>
  <div class="row ">
    <div class="col-6 offset-6">
      <a href="assets/CV_AnaVzqz.pdf" download="CV_AnaVzqz"> 
        <button type="button" class="btn btn-lg btn-primary">Descarga mi CV en PDF</button>
      </a>
    </div>
  </div>
</section>