<div class="container">
  <div class="row">
    <div class="col-12">
    <h2>Acerca de mí</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text-center">
      <img src="../../assets/Imagen_Ana_1.png" class="img" alt="Imagen Ana">
    </div>
    <div class="col-lg-6 text-center">
      <p> <b> Front-end developer</b> <br> desarrollo proyectos con Javascript, NodeJS, Bootstrap, Angular, entre otros.
        Me apasiona la mercadotecnia, aprender cosas nuevas y el trabajo en equipo.
        Me gustan los proyectos que representan nuevos retos y que implican nuevos aprendizajes.
      </p>
    </div>
  </div>
  <div class="row ">
    <div class="col-6 offset-6">
      <a href="../../../assets/CV_AnaVzqz.pdf" download="CV_AnaVzqz">Descarga mi CV en PDF.</a>
    </div>
  </div>
</div>
