<div class="container">
  <div class="row">
    <div class="col-sm-12 lg-12">
      <h2>Conocimientos</h2>
        <table class="table-center">
            <tbody>    
              <tr>
                <td class="col-sm-4 lg-4"><img src="../../assets/html-5.png" alt="" class="responsive-img">HTML5</td>
                <td class="col-sm-4 lg-4"><img src="../../assets/css-3.png" alt="" class="responsive-img">CSS3</td>
                <td class="col-sm-4 lg-4"><img src="../../assets/js.png" alt="" class="responsive-img">Javascript</td>
              </tr>
              <tr>
                <td class="col-sm-4 lg-4"><img src="../../assets/Firebase_logo.png" alt="" class="responsive-img">Firebase</td>
                <td class="col-sm-4 lg-4"><img src="../../assets/github_Logo.png" alt="" class="responsive-img">Git y Github</td>
                <td class="col-sm-4 lg-4"><img src="../../assets/Angular_logo.png" alt="" class="responsive-img">Angular</td>
              </tr>
              <tr>
                  <td class="col-sm-4 lg-4"><img src="../../assets/nodejs_logo.png" alt="" class="responsive-img">Node.js</td>
                  <td class="col-sm-4 lg-4"><img src="../../assets/bootstrap-logo.png" alt="" class="responsive-img"></td>
              </tr>
              </tbody>
          </table>      
    </div>
  </div>
</div>
