.container {
    width: 100%;
    height: 100%;
    padding-bottom: 7%;
    margin: 0%;
    text-align: center;
}
h2 {
    font-family: 'Cookie', cursive;
    font-size: 5em;
    padding: 7%;
    margin: 0%;
    text-align: center;
    color: black;
}
p {
    font-family: 'Arbutus Slab', serif;
    font-size: 1.5em;
    padding: 0%;
    margin: 0%;
}
.links {
    font-family: 'Arbutus Slab', serif;
    font-size: 2.5em;
    color: black;
    text-align: center;
}

.responsive-img {
    width: 10em;
    height: 10em;
}
.table-center {
    text-align: center;
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
}