.header {
    background-image: url('../assets/computer-2982270_960_720.jpg');
    background-size: cover;
    background-position: center center;
    color: black;
    padding: 0%;
    margin: 0 auto;
    text-align: center;
    display: block;
    max-width: 100%;

}
/*.head {
    color: black;
    background-color: black;
    opacity: 0.3;
    width: 600px;
    text-align: center;

}*/
h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 6em;
    padding-top: 2%;
    margin: 0%;
    
}

h3 {
    font-family: 'Cookie', cursive;
    font-size: 2em;
    padding: 0%;
    margin: 0%;
}
p {
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
    padding: 0%;
    margin: 3%;
}
.sentence {
    padding-bottom: 2%;
}