<section class="courses" id="courses">
  <div class="row">
    <div class="col-12">
      <h2>Certificaciones y participaciones</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 md-12 sm-12">
      <h5><b>Angular workshop to cloud deployment</b></h5> <br> 
      <p>Meetup #32 de GDG Angular, junto con mi compañera de <b>Laboratoria, Anndy García</b>  
        hablamos de despliegue, en diferentes hosting´s</p>
    </div>
    <figure class="col-lg-6 md-12 sm-12">
      <img src="../../../assets/workshop.jpg" class="img" alt="deployment">
    </figure>
  </div>
  <div class="row">
      <div class="col-lg-6 md-12 sm-12">
        <h5><b>Cloud and data revolution</b></h5> <br> 
        <p>Certificación de <b>IBM Cloud</b> </p>
      </div>
      <figure class="col-lg-6 md-12 sm-12">
        <img src="../../../assets/ibm-cloud.png" class="img" alt="deployment">
      </figure>
    </div>
  </section>
