<div class="container">
  <div class="row">
    <h2>Sobre mí</h2>
    <div class="col-md-6">
      <p>Hola soy Ana</p>
    </div>
    <div class="col-md-6">
      <img src="../../assets/apple-1868496_960_720.jpg" style="max-width:100%;width:auto;height:auto;">
    </div>
  </div>
</div>
<div class="container links">
  <div class="row">
    <div class="col-sm-10">
      <h2>Proyectos</h2>
      <div>
        <a href="https://anavzqz.github.io/cdmx-2018-06-bc-core-am-data-dashboard/src">Data Dashboard</a>
      </div>
      <div>
        <a href="https://anavzqz.github.io/LabCar-App/src/">Labcar</a>
      </div>
      <div>
       <a href="https://anavzqz.github.io/cdmx-social-network-frameworks/">Red social con Angular</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Conocimientos</h2>
        <table class="table-center">
            <tbody>    
              <tr>
                <td class="col-sm-4 lg-4"><img src="../../assets/html-5.png" alt="" class="responsive-img">HTML5</td>
                <td class="col-sm-4 lg-4"><img src="../../assets/css-3.png" alt="" class="responsive-img">CSS3</td>
                <td class="col-sm-4 lg-3"><img src="../../assets/js.png" alt="" class="responsive-img">Javascript</td>
              </tr>
              <tr>
                <td class="col-sm-4 lg-4"><img src="../../assets/Firebase_logo.png" alt="" class="responsive-img">Firebase</td>
                <td class="col-sm-4 lg-4"><img src="../../assets/github_Logo.png" alt="" class="responsive-img">Git y Github</td>
                <td class="col-sm-4 lg-4"><img src="../../assets/Angular_logo.png" alt="" class="responsive-img">Angular</td>
              </tr>
              <tr>
                  <td class="col-sm-4 lg-4"><img src="../../assets/nodejs_logo.png" alt="" class="responsive-img">Node.js</td>
                  <td class="col-sm-4 lg-4"><img src="../../assets/bootstrap-logo.png" alt="" class="responsive-img"></td>
              </tr>
              </tbody>
          </table>      
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Contacto</h2>
      <p class="glyphicon glyphicon-envelope">ana.maria.vl@hotmail.com</p>
    </div>
  </div>
  <div class="col"></div>
</div>