<section class="proyects" id="projects">
  <div class="row">
    <div class="col-12">
      <h2>Proyectos</h2>
    </div>
  </div>
  <div class="row">
      <a href="https://github.com/Anavzqz/Registro_Visitantes" class="col-lg-4 md-6 sm-12 mb-2">
        <img src="assets/registro-visitantes.png" class="img" alt="Registro de visitantes">
      </a>
      <a href="https://github.com/Anavzqz/LabCar-App" class="col-lg-4 md-6 sm-12 mb-2">
          <img src="assets/labcar.png" class="img" alt="Labcar">
      </a>
      <a href="https://github.com/Anavzqz/cdmx-social-network-frameworks" class="col-lg-4 md-6 sm-12 mb-2">
          <img src="assets/social-pets.png" class="img" alt="Registro de visitantes">
      </a>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <a href="https://github.com/Anavzqz" class="btn"> 
        <button type="button" class="btn btn-lg btn-primary">Te invito a conocer más de mi trabajo</button>
      </a>
    </div>
  </div>
</section>