<section class="proyects">
  <div class="row">
    <div class="col-12">
      <h2>Proyectos</h2>
    </div>
  </div>
  <div class="row">
      <figure class="col-lg-4 md-6 sm-12 mb-2">
        <img src="../../../assets/registro-visitantes.png" class="img" alt="Registro de visitantes">
      </figure>
      <figure class="col-lg-4 md-6 sm-12 mb-2">
          <img src="../../../assets/labcar.png" class="img" alt="Labcar">
      </figure>
      <figure class="col-lg-4 md-6 sm-12 mb-2">
          <img src="../../../assets/social-pets.png" class="img" alt="Registro de visitantes">
      </figure>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <a href="https://github.com/Anavzqz">Te invito a conocer mi trabajo.</a>
    </div>
  </div>
</section>