<section class="skills">
  <div class="row">
    <div class="col-12">
      <h2>Conocimientos</h2>
    </div>
  </div>
  <div class="row">
    <figure class="col-lg-3 md-3 sm-6">
      <img src="../../assets/Angular_logo.png" class="responsive-img" alt="Angular">
      <p>Angular</p>
    </figure>
    <figure class="col-lg-3 md-3 sm-6">
      <img src="../../assets/nodejs_logo.png" class="responsive-img" alt="Node js">
      <p>Node.js</p>
    </figure>
    <figure class="col-lg-3 md-3 sm-6">
      <img src="../../assets/Firebase_logo.png" class="responsive-img" alt="Firebase">
      <p>Firebase</p>
    </figure>
    <figure class="col-lg-3 md-3 sm-6">
      <img src="../../../assets/bootstrap.png" class="responsive-img" alt="Bootstrap">
      <p>Bootstrap</p>
    </figure>
  </div>
</section>
